<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="lib/element.ui/theme-chalk/index.css">
    <link rel="stylesheet" href="css/start.css">
</head>

<body class="heisir">
    <div id="app">
        <template>
            <el-container>
                <el-header v-if="platform != 'darwin'" class="header" height='40px'>
                    <el-row>
                        <el-col :span="14">
                            <div class="title">{{'M3U8-Downloader v' + version}}</div>
                        </el-col>
                    </el-row>

                    <div class="systemTool">
                        <el-dropdown trigger="click">
                            <span class="el-dropdown-link">about</span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item icon="el-icon-link">
                                    <a class="mylink" href="https://tools.heisir.cn/HLSDownload/"
                                        v-on:click.stop.prevent="clickAClick">Official website</a>
                                </el-dropdown-item>
                                <el-dropdown-item icon="el-icon-link">
                                    <a class="mylink" href="https://github.com/HeiSir2014/M3U8-Downloader"
                                        v-on:click.stop.prevent="clickAClick">open source</a>
                                </el-dropdown-item>
                                <el-dropdown-item icon="el-icon-connection">
                                    <a class="mylink" href="https://jq.qq.com/?_wv=1027&k=nhFrZBS0"
                                        v-on:click.stop.prevent="clickAClick">Click to join the group
                                    </a>
                                </el-dropdown-item>
                                <el-dropdown-item icon="el-icon-connection">
                                    <a class="mylink" href="#" v-on:click.stop.prevent="clickStartHookUrl">Resource sniffing</a>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                        <el-button class="button" icon="el-icon-setting" v-on:click="clickGotoSettingTab"></el-button>
                        <el-button class="button" icon="el-icon-close" v-on:click="clickClose"></el-button>
                    </div>
                </el-header>
                <el-main class="main">
                    <el-tabs tab-position="left" type="border-card" style="height: 100%;" v-model="tabPane">
                        <el-tab-pane>
                            <span slot="label"><i class="el-icon-download"></i> Source of resources</span>
                            <el-tabs type="border-card">
                                <el-tab-pane label="M3U8 video download">
                                    <el-row :gutter="8">
                                        <el-col :span="3" :offset="1">
                                            <el-button class="mybutton" type="primary" icon="el-icon-news"
                                                @click="clickNewTask">new construction</el-button>
                                        </el-col>
                                        <el-col :span="4" :offset="1">
                                            <el-button class="mybutton" type="danger" icon="el-icon-news"
                                                @click="clickClearTask">Clear air duty( {{allVideos.length}} )</el-button>
                                        </el-col>
                                        <el-col v-show="false" :span="4" :offset="11">
                                            <div class="speed el-icon-download">{{downloadSpeed}}</div>
                                        </el-col>
                                    </el-row>
                                    <ul class="list TaskList" style="overflow:auto">
                                        <li v-for="o in allVideos" :key="o.id" class="item">
                                            <div class="m3u8"></div>
                                            <div class="link"><input type="text" :value="o.url" :title="o.url" readonly></div>

                                            <div class="name"><span>name:</span><span class="value" :title="o.taskName">{{o.taskName}}</span>
                                            </div>
                                            <div class="time"><span>Time:</span><span class="value" :title="o.time">{{o.time}}</span>
                                            </div>
                                            <div class="status">
                                                <span>Status:</span><span class="value" :title="o.status">{{o.status}}</span>
                                            </div>
                                            <div class="opt">
                                                <div class="top">
                                                    <input class="opendir" opt="opendir" :data="o.dir" type="button"
                                                        value="Opening text item" @click="clickItemOptData">
                                                </div>
                                                <div class="bottom">
                                                    <input class="del" opt="delvideo" :data="o.id" type="button"
                                                        value="delete" @click="clickItemOptData">
                                                    <input class="play" opt="playvideo" :data="o.videopath"
                                                        type="button" value="play" @click="clickItemOptData">
                                                    <input class="StartStop" opt="StartOrStop" :data="o.id"
                                                        type="button" value="stop" @click="clickItemOptData">
                                                </div>
                                            </div>
                                        </li>
                                        <el-alert v-if="!allVideos.length"
                                            style="margin-top: 10px; height: 100px; line-height: 1;"
                                            title="If you have not added any additional information, please take a look at M3U8 (HLS)." type="success"
                                            effect="light" :closable="false" :center="true" show-icon></el-alert>
                                    </ul>
                                    <el-dialog title="New construction duties" :visible.sync="dlg_newtask_visible" width="60%"
                                        :modal="true" :close-on-click-modal="false" :close-on-press-escape="false"
                                        :center="false">
                                        <el-form label-width="80px">
                                            <el-form-item label="View source" label-position="right">
                                                <div @drop="dropM3U8File" @dragover.prevent @dragenter.prevent>
                                                    <el-input placeholder="Import the link to the source URL, or send the M3U8 text to this page." v-model="m3u8_url"
                                                        draggable="false" @input="m3u8UrlChange">
                                                        <i slot="prefix" class="el-input__icon el-icon-link"></i>
                                                        <i slot="suffix" class="el-input__icon el-icon-folder-opened"
                                                            @click="clickSelectM3U8"></i>
                                                    </el-input>
                                                </div>
                                            </el-form-item>
                                            <el-form-item v-if="playlists.length" label="* Paint quality" label-position="right">
                                                <el-select v-model="playlistUri" placeholder="Selection source"
                                                    style="width: 100%;">
                                                    <el-option v-for="playlist in playlists" :key="playlist.uri"
                                                        :label="getPlaylistLabel(playlist)" :value="playlist.uri">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>
                                            <el-form-item label="Job name" label-position="right">
                                                <el-input type="text" placeholder="[Available] Please check the actual time" v-model="taskName">
                                                </el-input>
                                            </el-form-item>
                                            <el-form-item label="URL front" label-position="right"
                                                v-if="m3u8_url.startsWith('file:///')">
                                                <el-tooltip effect="light" placement="top-start">
                                                    <div slot="content">
                                                        As a result, the M3U8 text is directly below, the TS style is directly below, and the M3U8 text is not available at the URL (http) before closing, job demand copy.<br /><br />
                                                        As a result, the current M3U8 text of the TS video is below, and the unnecessary copying is done.<br /></div>
                                                    <el-input type="text"
                                                        placeholder="[Available] M3U8 URL front, example：http://heisir.cn/cdn/123456/"
                                                        v-model="m3u8_url_prefix"></el-input>
                                                </el-tooltip>
                                            </el-form-item>
                                            <el-form-item label="additional head" label-position="right">
                                                <el-input type="textarea" :rows="4" placeholder="[Empty] One line and one Header, for example：
                Origin: http://www.host.com
                Referer: http://www.host.com" v-model="headers"></el-input>
                                            </el-form-item>
                                            <el-form-item label="Private KEY" label-position="right">
                                                <el-tooltip effect="light" placement="top-start">
                                                    <div slot="content">
                                                        32nd place HEX format KEY sum 32nd place IV 值、IV 值可空<br />Illustrative example:<br />ABABABABABBBBBBBABABABABABBBBBBBABABABABABBBBBBBABABABABABBBBBBB<br />或者：<br />ABABABABABBBBBBBABABABABABBBBBBB<br />
                                                    </div>
                                                    <el-input type="text" placeholder="[Available] KEY Japanese IV (HEX format)"
                                                        v-model="myKeyIV">
                                                    </el-input>
                                                </el-tooltip>
                                            </el-form-item>
                                            <el-form-item label="Combined completion" label-position="right">
                                                <el-checkbox v-model="taskIsDelTs" label="TS single stage"></el-checkbox>
                                            </el-form-item>
                                        </el-form>
                                        <div slot="footer" class="dialog-footer">
                                            <el-row :gutter="20">
                                                <el-col :span="11" :offset="4">
                                                    <el-alert :title="addTaskMessage" type="error" :closable="false">
                                                    </el-alert>
                                                </el-col>
                                                <el-col :span="8" :offset="1">
                                                    <el-button type="primary" @click="clickNewTaskOK"
                                                        style="width: 100%;">Definitely
                                                    </el-button>
                                                </el-col>
                                            </el-row>
                                        </div>
                                    </el-dialog>
                                </el-tab-pane>
                                <el-tab-pane label="M3U8 review">
                                    <el-form label-width="130px" style="margin-right: 65px;">
                                        <el-form-item label="Criticism source" label-position="right">
                                            <el-input type="textarea" :rows="6" placeholder="Import one line one M3U8 video source, Format: video source----Job name (empty), example：
                https://host/index1.m3u8----First look
                https://host/index2.m3u8----Second view
                https://host/index3.m3u8" v-model="m3u8_urls"></el-input>
                                        </el-form-item>
                                        <el-form-item label="additional header" label-position="right">
                                            <el-input type="textarea" :rows="4" placeholder="[can be empty] Please enter one per line Header, for example:
                Origin: http://www.host.com
                Referer: http://www.host.com" v-model="headers"></el-input>
                                        </el-form-item>
                                        <el-form-item label="Merge completed" label-position="right">
                                            <el-checkbox v-model="taskIsDelTs" label="Delete TS segment"></el-checkbox>
                                        </el-form-item>
                                        <el-form-item>
                                            <el-button class="mybutton" type="primary" @click="clickNewTaskMuti">Batch download
                                            </el-button>
                                        </el-form-item>
                                    </el-form>
                                </el-tab-pane>
                                <el-tab-pane label="Merge video clips">
                                    <el-row :gutter="8" style="margin-bottom: 5px;">
                                        <el-col :span="2" :offset="1">
                                            <span style="line-height: 40px;float: right;">video clip</span>
                                        </el-col>
                                        <el-col :span="20">
                                            <div @drop="dropTSFiles" @dragover.prevent @dragenter.prevent>
                                                <el-input placeholder="Select a directory containing TS streams or drag and drop all TS files here" v-model="ts_dir"
                                                    clearable draggable="false">
                                                    <i slot="suffix" class="el-input__icon el-icon-folder-opened"
                                                        @click="clickSelectTSDir"></i>
                                                </el-input>
                                            </div>
                                        </el-col>
                                    </el-row>
                                    <el-row :gutter="8" style="margin-bottom: 5px;">
                                        <el-col :span="2" :offset="1">
                                            <span style="line-height: 40px;float: right;">merge name</span>
                                        </el-col>
                                        <el-col :span="20">
                                            <el-input placeholder="[nullable] Default current timestamp" v-model="tsTaskName" clearable
                                                draggable="false"></el-input>
                                        </el-col>
                                    </el-row>
                                    <el-row :gutter="8" style="margin-bottom: 5px;">
                                        <el-col :span="7" :offset="3">
                                            <div>
                                                <el-radio style="line-height: 40px;" v-model="tsMergeType"
                                                    label="speed">Quick merge
                                                </el-radio>
                                                <el-radio style="line-height: 40px;" v-model="tsMergeType"
                                                    label="transcoding">
                                                    Fix merging (slow | transcoding)</el-radio>
                                            </div>
                                        </el-col>
                                        <el-col :span="6" :offset="1">
                                            <span style="line-height: 40px;">Total import {{ts_urls.length}} video clips</span>
                                        </el-col>
                                        <el-col :span="3" :offset="1">
                                            <el-button class="mybutton" type="primary" @click="clickStartMergeTS"
                                                :disabled="ts_urls.length==0">Start merging</el-button>
                                        </el-col>
                                        <el-col :span="2">
                                            <el-button class="mybutton" type="danger" @click="clickClearMergeTS"
                                                :disabled="ts_urls.length==0">Clear</el-button>
                                        </el-col>
                                    </el-row>

                                    <el-row :gutter="8" style="margin-top: 10px;margin-bottom: 5px;"
                                        v-if="tsMergeStatus">
                                        <el-col :span="2" :offset="1">
                                            <span v-if="tsMergeStatus !='success'"
                                                style="line-height: 100px;float: right;">Merge progress</span>
                                            <span v-if="tsMergeStatus =='success'"
                                                style="line-height: 40px;float: right;">View Files</span>
                                        </el-col>
                                        <el-col :span="6" v-if="tsMergeStatus !='success'">
                                            <el-progress type="circle" :percentage="tsMergeProgress" status="success"
                                                :width="100"></el-progress>
                                        </el-col>
                                        <el-col :span="4" v-else>
                                            <el-button class="mybutton" type="success" @click="clickOpenMergeTSDir">
                                                open folder
                                            </el-button>
                                        </el-col>
                                        <el-col :span="4" v-if="tsMergeMp4Path">
                                            <el-button class="mybutton" type="success" @click="clickPlayMergeMp4">Play video
                                            </el-button>
                                        </el-col>
                                    </el-row>

                                    <el-row :gutter="8" v-if="tsMergeStatus !='success' && tsMergeStatus">
                                        <el-col :span="2" :offset="1">
                                            <span style="line-height: 40px;float: right;">log</span>
                                        </el-col>
                                        <el-col :span="20">
                                            <el-input type="textarea" :rows="4" readonly placeholder=""
                                                v-model="tsMergeStatus">
                                            </el-input>
                                        </el-col>
                                    </el-row>
                                </el-tab-pane>
                            </el-tabs>
                        </el-tab-pane>
                        <el-tab-pane>
                            <span slot="label"><i class="el-icon-view"></i> Resource sniffing</span>
                            <el-container>
                                <el-container>
                                    <el-header class="navigatorTop">
                                        <i class="el-icon-arrow-left tooltip-icon" @click="navigateBy(-1)" title="go back"></i>
                                        <i class="el-icon-arrow-right tooltip-icon" @click="navigateBy(1)" title="go forward"></i>
                                        <i class="el-icon-refresh-right tooltip-icon" @click="navigateBy(0)" title="reload this page"></i>
                                        <el-input type="text" v-model="navigatorInput" placeholder="please enter url" clearable @change="clickNaviagte"></el-input>
                                    </el-header>
                                    <el-main style="padding: 0;">
                                        <webview id="browser" style="height: 100%;" :src="navigatorUrl"
                                         :useragent="currentUserAgent"></webview>
                                    </el-main>
                                </el-container>
                                <el-aside class="videoPanel" v-if="browserVideoUrls && browserVideoUrls.length" width="300px">
                                    <ul>
                                        <li class="videoItem" v-for="item in browserVideoUrls">
                                            <el-row :gutter="10">
                                                <el-col :span="6"><el-label>{{item.type}}</el-label></el-col>
                                                <el-col :span="18"><el-input type="text" readonly :value="item.url"></el-input></el-col>
                                            </el-row>
                                            <el-row :gutter="10">
                                                <el-col :span="6"><el-label>HEADER</el-label></el-col>
                                                <el-col :span="18"><el-input type="text" readonly :value="item.headers"></el-input></el-col>
                                            </el-row>
                                            <el-row v-if="item.key" :gutter="10">
                                                <el-col :span="6"><el-label>KEY</el-label></el-col>
                                                <el-col :span="18"><el-input type="text" readonly :value="item.key"></el-input></el-col>
                                            </el-row>
                                            <el-row :gutter="10">
                                                <el-col :offset="8" :span="8"><el-button>Browse</el-button></el-col>
                                                <el-col :span="8"><el-button>download</el-button></el-col>
                                            </el-row>
                                        </li>
                                    </ul>
                                </el-aside>
                            </el-container>
                        </el-tab-pane>
                        <el-tab-pane label="Software settings" name="setting">
                            <span slot="label"><i class="el-icon-s-tools"></i> Software settings</span>
                            <el-row :gutter="8">
                                <el-col :span="2" :offset="1">
                                    <span style="line-height: 40px;float: right;">video storage</span>
                                </el-col>
                                <el-col :span="18">
                                    <el-input placeholder="Please click the button on the right to select the storage folder" v-model="config_save_dir" :readonly="true">
                                    </el-input>
                                </el-col>
                                <el-col :span="2">
                                    <el-button class="mybutton" type="primary" icon="el-icon-folder-opened"
                                        @click="clickOpenConfigDir">Browse</el-button>
                                </el-col>
                            </el-row>
                            <br />
                            <el-row :gutter="8">
                                <el-col :span="2" :offset="1">
                                    <span style="line-height: 40px;float: right;">log</span>
                                </el-col>
                                <el-col :span="4">
                                    <el-button class="mybutton" type="primary" icon="el-icon-view"
                                        @click="clickOpenLogDir">View log directory</el-button>
                                </el-col>
                                <el-col :span="4" :offset="1">
                                    <span style="line-height: 40px;float: right;">HTTP proxy</span>
                                </el-col>

                                <el-col :span="9">
                                    <el-input placeholder="Please enter HTTP proxy(如：http://127.0.0.1:7890 )" v-model="config_proxy"
                                        @change="proxyChange"></el-input>
                                </el-col>
                            </el-row>
                            <br>
                            <el-divider><i class="el-icon-coffee"></i></el-divider>
                            <el-row :gutter="8">
                                <el-col :span="4" :offset="7">
                                    <el-card class="paycode alipay" shadow="always">
                                        <img class="image" src="icon/alipay_code.png">
                                        <div style="padding: 14px;word-break: keep-all;">
                                            <span>Alipay sponsorship</span>
                                        </div>
                                    </el-card>
                                </el-col>
                                <el-col :span="4" :offset="2">
                                    <el-card class="paycode wechat" shadow="always">
                                        <img class="image" src="icon/wechat_code.png">
                                        <div style="padding: 14px;word-break: keep-all;">
                                            <span>WeChat sponsorship</span>
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>
                            <el-row :gutter="8">
                                <el-col :span="12" :offset="6">
                                    <el-alert title="Development is not easy. If you think this software is helpful to you, can you buy me a cup of coffee?" type="error" :center="true"
                                        :closable="false">
                                    </el-alert>
                                </el-col>
                            </el-row>
                        </el-tab-pane>
                        <el-tab-pane label="Exchange feedback">
                            <span slot="label"><i class="el-icon-chat-dot-square"></i> Exchange feedback</span>
                            <el-row :gutter="8">
                                <el-col :span="22">
                                    <el-alert title="Warning: [Tianwang is careful not to miss anything] Complying with laws and regulations is the obligation of every citizen. It is strictly prohibited to post illegal content here, otherwise you will be responsible for the consequences! Report illegal content QQ：1586462"
                                        type="warning" :center="true" :closable="false" show-icon>
                                    </el-alert>
                                </el-col>
                                <el-col :span="2">
                                    <el-button class="mybutton" type="success" @click="clickRefreshComment">refresh
                                    </el-button>
                                    </el-alert>
                                </el-col>
                            </el-row>
                            <section id="comments" class="vcomment"></section>
                        </el-tab-pane>
                        <el-tab-pane label="我的信息">
                            <span slot="label"><i class="el-icon-s-custom"></i> I</span>
                        </el-tab-pane>
                    </el-tabs>
                </el-main>
            </el-container>
        </template>
    </div>
    <script src="lib/vue/vue.js"></script>
    <script src="lib/element.ui/index.js"></script>
    <script src="scripts/app-main.js"></script>
    <script src="lib/Valine/Valine.min.js"></script>

    <script>
        var GUEST_INFO = ['nick', 'mail', 'link'];
        var guest_info = 'nick'.split(',').filter(function (item) {
            return GUEST_INFO.indexOf(item) > -1
        });
        console.log(guest_info)
        var notify = 'false' == true;
        var verify = 'false' == true;
        new Valine({
            el: '.vcomment',
            notify: notify,
            verify: verify,
            appId: "dYhmAWg45dtYACWfTUVR2msp-gzGzoHsz",
            appKey: "SbuBYWY21MPOSVUCTHdVlXnx",
            placeholder: "可以在这里进行咨询交流",
            pageSize: '100',
            avatar: 'mm',
            lang: 'zh-cn',
            meta: guest_info,
            recordIP: true,
            path: '/m3u8-downloader'
        });
    </script>
</body>

</html>